fastapi
uvicorn
pandas
numpy
jinja2
weasyprint
pydantic
python-multipart
python-dotenv
pyjwt
scipy
openpyxl
python-calamine
annotated-types
requests
httpx
schedule
cachetools
apscheduler
pyodbc
sqlalchemy
